name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/backend backend
        docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/backend
        docker push ${{ secrets.DOCKER_USERNAME }}/frontend

    - uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        script: |
          kubectl rollout restart deployment backend
          kubectl rollout restart deployment frontend
